<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu" class="hor-menu  ">
    <ul class="nav navbar-nav">
        <li class="menu-dropdown classic-menu-dropdown ">
            <a href="login"> Inicio
                <span class="arrow"></span>
            </a>
        </li>
        <li class="menu-dropdown classic-menu-dropdown">
            <a href="javascript:;"> Reportes
                <span class="arrow"></span>
            </a>
            <ul class="dropdown-menu pull-left">
                <li class=" ">
                    <a href="/listaAlumnoGrado" class="nav-link  "> Reporte de alumnos por grado </a>
                </li>
                <li class=" ">
                    <a href="listaAlumnoConducta" class="nav-link  "> Reporte de conducta </a>
                </li>
                <li class=" ">
                    <a href="/listaGradoAsistencia" class="nav-link  "> Reporte de asistencia </a>
                </li>
                <li class=" ">
                    <a href="/listaAlumnoRecuperacion" class="nav-link  "> Reporte Examen de Recuperacion</a>
                </li>
                <li class=" ">
                    <a href="/listaAlumnoCondicionado" class="nav-link  ">  Reporte de Alumnos Condicionados</a>
                </li>
            </ul>
        </li>
        <li class="menu-dropdown classic-menu-dropdown">
            <a href="javascript:;"> Notas
                <span class="arrow"></span>
            </a>
            <ul class="dropdown-menu pull-left">
                <li class=" ">
                    <a href="layout_mega_menu_light.html" class="nav-link  "> Ingreso de Notas </a>
                </li>
                <li class=" ">
                    <a href="layout_top_bar_light.html" class="nav-link  "> Modificar Nota </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
</html>
