<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu" class="hor-menu  ">
    <ul class="nav navbar-nav">
        <li class="menu-dropdown classic-menu-dropdown ">
            <a href="director"> Inicio
                <span class="arrow"></span>
            </a>
        </li>
        <li class="menu-dropdown mega-menu-dropdown  ">
            <a href="javascript:;"> Reportes
                <span class="arrow"></span>
            </a>
            <ul class="dropdown-menu" style="min-width: 710px">
                <li>
                    <div class="mega-menu-content">
                        <div class="row">
                            <div class="col-md-4">
                                <ul class="mega-menu-submenu">
                                    <li>
                                        <h3>Reportes Operativos</h3>
                                    </li>
                                    <li class=" ">
                                        <a href="/listaAlumnoGradoCor" class="nav-link  "> Reporte de alumnos por grado </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/listaAlumnoConductaCor" class="nav-link  "> Reporte de conducta </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/listaGradoAsistenciaCor" class="nav-link  "> Reporte de asistencia </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/listaAlumnoRecuperacionCor" class="nav-link  "> Reporte Examen de Recuperacion</a>
                                    </li>
                                    <li class=" ">
                                        <a href="/listaAlumnoCondicionadoCor" class="nav-link  ">  Reporte de Alumnos Condicionados</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-4">
                                <ul class="mega-menu-submenu">
                                    <li>
                                        <h3>Reportes Tácticos</h3>
                                    </li>
                                    <li class=" ">
                                        <a href="/listaAlumnoExoneradoDir" class="nav-link  "> Reporte de exonerados </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/listaAlumnoExcelenciaDir" class="nav-link  "> Reporte de excelencia academica </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/listaRendimientoMateriaDir" class="nav-link  "> Reporte de rendimiento de materia </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul class="mega-menu-submenu">
                                    <li>
                                        <h3>Reportes Estratégicos</h3>
                                    </li>
                                    <li class=" ">
                                        <a href="#" class="nav-link  "> Reporte de alumnos aprobados </a>
                                    </li>
                                    <li class=" ">
                                        <a href="#" class="nav-link  "> Reporte de alumnos reprobados </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="menu-dropdown classic-menu-dropdown">
            <a href="javascript:;"> Notas
                <span class="arrow"></span>
            </a>
            <ul class="dropdown-menu pull-left">
                <li class=" ">
                    <a href="layout_mega_menu_light.html" class="nav-link  "> Ingreso de Notas </a>
                </li>
                <li class=" ">
                    <a href="layout_top_bar_light.html" class="nav-link  "> Modificar Nota </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
</html>